name: Release
on:
  push:
    branches:
      - master
      - series/*
    tags:
      - '*'
env:
  CI: true
  HUGO_VERSION: 0.26
  SCALA_VERSION: 2.12.10
  GITHUB_ACTOR: precog-bot
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ENCRYPTION_PASSWORD: ${{ secrets.ENCRYPTION_PASSWORD }}
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: olafurpg/setup-scala@v5
      - name: Cache Coursier
        uses: actions/cache@v1
        with:
          path: ~/.cache/coursier
          key: sbt-coursier-cache
      - name: Cache SBT
        uses: actions/cache@v1
        with:
          path: ~/.sbt
          key: sbt-${{ hashFiles('**/build.sbt') }}
      - name: Export Precog Things
        run: sbt transferCommonResources transferPublishAndTagResources exportSecretsForActions
      - name: Publish
        run: ./scripts/publishAndTag 'precog/http4s'
        env:
          SBT: sbt

